<div class="page-header">
    <h1>Liste de {{prenoms.length}} prénoms de {{sexe}}</h1>
    <a href="#/prenoms/{{autreSexeLink}}">Voir des prénoms de {{autreSexe}}</a>
</div>
<table class="table table-striped">
    <tr>
        <th>Prénom</th>
        <th>Naissances à Rennes entre 2007 et 2011</th>
        <th>Naissances à Nantes entre 2007 et 2012</th>
    </tr>
    <tr ng-repeat="prenom in prenoms | orderBy:'prenom'">
        <td><a ng-click="addPrenom(prenom)">{{prenom.prenom}}</a></td>
        <td>{{prenom.nombreRennes}}</td>
        <td>{{prenom.nombreNantes}}</tD>
    </tr>
</table>

<div class="well">
    <button class="btn btn-primary" ng-click="refresh(allPrenoms)">Rafraichir</button>
</div>


<div class="well">
    <div class="btn-group" ng-repeat="prenom in favoritePrenoms | orderBy:'prenom'">
        <button class="btn btn-info" title="{{prenom.nombreRennes}} naissances à Rennes et {{prenom.nombreNantes}} naissances à Nantes">{{prenom.prenom}}</button>
        <button class="btn btn-danger dropdown-togle" ng-click="removePrenom(prenom)">
            <span>X</span>
        </button>
    </div>
</div>
