<div class="page-header">
    <div class="row">
        <h3>Liste de {{prenoms.length}} prénoms {{sexe}} (sur {{nbPrenoms}} prénoms possibles)</h3>
    </div>
</div>

<div class="row well">
    <a class="btn btn-primary" href="#/prenoms/{{autreSexeLink}}">Voir des prénoms {{autreSexe}}</a>
    <button class="btn btn-primary" ng-click="refresh(allPrenoms)">Rafraichir</button>
</div>
<div class="row">
    <table class="table table-hover">
        <tr>
            <th>Prénom</th>
            <th>Naissances</th>
            <th>Origines</th>
        </tr>
        <tr ng-repeat="prenom in prenoms | orderBy:'prenom'">
            <td><a ng-click="addPrenom(prenom)">{{prenom.prenom}}</a></td>
            <td>{{prenom.nbNaissances}}<span ng-hide="prenom.nbNaissances">Inconnu</span</td>
            <td><span ng-repeat="language in prenom.languages"><span class="label label-info">{{language}}</span>&nbsp;</span></td>
        </tr>
    </table>
</div>


<div class="row">
    <div class="well">
        <legend>Prénoms favoris</legend>
        <div class="btn-group" ng-repeat="prenom in favoritePrenoms | orderBy:'prenom'">
            <button class="btn btn-info">{{prenom.prenom}}</button>
            <button class="btn btn-danger dropdown-togle" ng-click="removePrenom(prenom)">
                <span>X</span>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="well span3">
        <fieldset>
            <legend><a ng-click="showOrHide('#origines')">Origines</a></legend>
            <div id="origines" style="display:none">
            <label class="checkbox" ng-repeat="origine in origines">
                <input type="checkbox" ng-model="origine.choose" ng-change="refresh(allPrenoms)"> {{origine.language}}</input>
            </label>
            <div>
        </fieldset>
    </div>

    <div class="well span3">
        <fieldset>
            <legend><a ng-click="showOrHide('#nombrePrenoms')">Nombre de prénoms</a></legend>
            <div id="nombrePrenoms" style="display:none">
                <select ng-model="nombrePrenoms" ng-change="refresh(allPrenoms)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            <div>
        </fieldset>
    </div>

    <div class="well span3">
        <fieldset>
            <legend><a ng-click="showOrHide('#nombreNaissances')">Nombre de naissances</a></legend>
            <div id="nombreNaissances" style="display:none">
                <div class="control-group">
                    <label class="control-label" for="naissancesMin">Minimum</label>
                    <div class="controls">
                        <input type="number" id="naissancesMin" ng-model="naissancesMin" ng-change="refresh(allPrenoms)"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="naissancesMax">Maximum</label>
                    <div class="controls">
                        <input type="number" id="naissancesMax" ng-model="naissancesMax" ng-change="refresh(allPrenoms)"/>
                    </div>
                </div>
            <div>
        </fieldset>
    </div>
</div>
